<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
<!--  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GoCheeta Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/adminAddUsers">Add Users</a>
          <a class="dropdown-item" href="/adminAddVehicles">Add Vehicles</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/adminManageUsers">Manage Users</a>
          <a class="dropdown-item" href="/adminManageVehicle">Manage Vehicles</a>
          <a class="dropdown-item" href="/adminManageBooking">Manage Bookings</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>

  </div>
</nav>
  <section class="h-100 h-custom">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Add New Driver</h3>
              <form class="px-md-2" th:action="@{/user/add}" method="post" th:object="${users}">
                <div class="form-outline mb-4">
                  <input type="text" id="email" class="form-control" th:field="*{email}" required />
                  <label class="form-label" >Email</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="password" class="form-control" th:field="*{password}" required />
                  <label class="form-label">Password</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="firstName" class="form-control" th:field="*{firstName}" required />
                  <label class="form-label">First Name</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="lastName" class="form-control" th:field="*{lastName}" required />
                  <label class="form-label" >Last Name</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="phoneNumber" class="form-control" th:field="*{phoneNumber}" required/>
                  <label class="form-label">Phone Number</label>
                </div>
                  <div class="col-md-6 mb-4">
                    <label>Car</label>
                    <select class="select" th:field="*{car}" required>
                      <option value="1" disabled>Car</option>
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="fiat">Fiat</option>
                      <option value="audi">Audi</option>
                    </select>
                  </div>
                <div class="mb-4">
                  <label >Branch</label>
                  <select class="select" th:field="*{branch}" required>
                    <option value="1" disabled>Branch</option>
                    <option value="Galle">Galle</option>
                    <option value="Kandy">Kandy</option>
                    <option value="Nugegoda">Nugegoda</option>
                    <option value="Gampaha">Gampaha</option>
                    <option value="Kurunegala">Kurunegala</option>
                    <option value="Jaffna">Jaffna</option>
                  </select>
                </div>
                <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                  <div class="col-md-6">
                    <div class="form-outline">
                      <input type="hidden" id="role" name="role" th:field="*{role}" value="role"/>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<style>
  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $("button").click(function() {
      $("#role").val("Driver");
    });
  });
</script>
<script type="text/javascript">
  function cancelForm() {
    window.location ="[[@{/adminHome}]]";
  }
</script>
<div th:if="${message}" class="alert alert-success text-center">
  [[${message}]]
</div>
</body>
</html>