<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GoCheeta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"href="/driverHome">Home </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/driverViewBooking">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/driverViewHires">My Hire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>

  </div>
</nav>
<div class="container-fluid text-center">

  <h1>Hires I have Accepted</h1>

</div>
<div th:if="${message}" class="alert alert-success text-center">
  [[${message}]]
</div>

<div>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Destination</th>
      <th>Driver</th>
      <th>Start Location</th>
      <th>Vehicle Branch</th>
      <th>Vehicle Name</th>
<!--      <th></th>-->
    </tr>
    </thead>
    <tbody>
    <th:block th:each="booking : ${listBooking}">
      <tr>
        <td>[[${booking.id}]]</td>
        <td>[[${booking.customer}]]</td>
        <td>[[${booking.destination}]]</td>
        <td>[[${booking.driver}]]</td>
        <td>[[${booking.startingLocation}]]</td>
        <td>[[${booking.vehicleBranch}]]</td>
        <td>[[${booking.vehicleName}]]</td>

<!--        <td>-->
<!--          <a class="h4" th:href="@{'/booking/edit1/' + ${booking.id}}">Accept</a>-->
<!--        </td>-->
      </tr>
    </th:block>
    </tbody>
  </table>
</div>

</body>
</html>